<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>FiltroProd</filter-name>
        <filter-class>Controle.FiltroProd</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroProd</filter-name>
        <url-pattern>/gerProdutos/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>del</servlet-name>
        <servlet-class>Controle.del</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProd</servlet-name>
        <servlet-class>Controle.ServletProd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>del</servlet-name>
        <url-pattern>/servletDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProd</servlet-name>
        <url-pattern>/produtos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>apaga.jsp</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
